/node_modules
/public/hot
/public/storage
/public/uploads/files/training
/public/uploads/images/news
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
