.about-body {
  .wc-heading {
    font-weight: 300;
    letter-spacing: 5px;
    margin-bottom: 30px;
  }
  .single-counter-2 {
    float: left;
    overflow: hidden;
    width: 25%;
    padding: 100px 0;
    position: relative;
  }
  .single-counter-wrapper {
    display: inline-block;
  }
  .single-counter-2:nth-child(2n) {
    background: #2772DB none repeat scroll 0 0;
  }

  .single-counter-2:nth-child(2n+1) {
    background: #2b7beb none repeat scroll 0 0;
  }

  .counter-2-icon {
    float: left;
  }

  .counter-2-icon i {
    font-size: 50px;
    color: #ffffff;
  }

  .counter-2-content {
    text-align: left;
    padding: 2px 0 0 30px;
    float: left;
  }

  .counter-2-content span {
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
  }

  .counter-2-content p {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    margin-bottom: 0;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .about-feature img {
    margin-bottom: -1px;
    max-width: 100%;
  }

  .about-feature-area {
    padding-top: 100px;
  }

  .about-feature-area .single-counter-2:nth-child(2n+1) {
    background: #2772DB none repeat scroll 0 0;
  }

  .about-feature-area .single-counter-2::before {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }

  .about-feature-area .single-counter-2:last-child::before {
    display: none;
  }

  .wc-meta img {
    max-width: 100%;
  }
}